USE [master]
GO
/****** Object:  Database [RESTDb]    Script Date: 22/11/19 10:01:20 PM ******/
CREATE DATABASE [RESTDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RESTDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RESTDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RESTDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RESTDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RESTDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RESTDb]
GO
/****** Object:  Table [dbo].[UsersTbl]    Script Date: 22/11/19 10:01:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Fullname] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UsersTbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UsersTbl] ON 

INSERT [dbo].[UsersTbl] ([id], [Username], [Fullname], [City], [Country]) VALUES (1, N'Angel100', N'Nina Kyle', N'Florence', N'Italy')
INSERT [dbo].[UsersTbl] ([id], [Username], [Fullname], [City], [Country]) VALUES (2, N'HMk', N'Heathen Mackane', N'São Paulo', N'Brazil')
INSERT [dbo].[UsersTbl] ([id], [Username], [Fullname], [City], [Country]) VALUES (3, N'BlackHalo', N'Jeen Ki-woong', N'Busan', N'South Korea')
SET IDENTITY_INSERT [dbo].[UsersTbl] OFF
GO
USE [master]
GO
